*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-color: #2196f3;
}

body{
    font-family: "open sans",sans-serif;
}

.game {
    background-color: #eee;
    min-height: 100vh;
}
.container{
    margin: auto;
    max-width: 900px;
}
.name{
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
.message{
    background-color: white;
    padding: 15px;
    margin: 15px 0;
    text-align: center;
    border-radius: 6px;
}

.message span {
    font-weight: bold;
    color: #009688;
}

.message span::before{
    content: "{";
}
.message span::after{
    content: "}";
}
.start{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #009688;
    color: white;
    padding: 20px;
    cursor: pointer;
}
.restart {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #009688;
    color: white;
    padding: 20px;
    cursor: pointer;
    display: none;
}
.the-word {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: var(--main-color);
    user-select: none;
}

.input {
    margin: 15px 0;
    width: 100%;
    display: block;
    padding: 15px;
    border: 3px solid var(--main-color);
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 6px;
    caret-color: var(--main-color);
}

.input:focus {
    outline: none;
}

.upcoming-words {
    background-color: white;
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.upcoming-words div {
    background-color: var(--main-color);
    color: white;
    margin: 4px;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
}

.control {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    border-radius: 6px;
}

.control span {
    font-weight: bold;
    color: #009688;
}

.finish {
    font-weight: bold;
    font-size: 40px;
    padding: 15px;
    text-align: center;
}

.finish .good {
    color: var(--main-color);
}

.finish .bad{
    color: red;
}

footer{
    
    text-align: center;
    padding: 20px;
    
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    

}